In [10]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# sel = Series([1,2,3,4])
# print(type(sel))
# print(sel)

sel = Series(data = [1,2,3,4], index = list('abcd'))
# print(sel)
# print(sel.values)
# print(sel.index)
# print(sel.iteritems)

<bound method Series.iteritems of a    1
b    2
c    3
d    4
dtype: int64>

In [11]:
# 将字典转换为Series
dict={"red":100,"black":400,"green":300,"pink":900}
se3=Series(dict)
print(se3)

red      100
black    400
green    300
pink     900
dtype: int64

In [23]:
# Series数据获取
sel =  Series(data = [1,2,3,'s'], index = list('abcd'))
print(sel)

# print('索引下标',sel['c'])
# print('位置下标',sel[2])

# 获取不连续的数据
# print('索引下标',sel[['a','c']])
# print('位置下标',sel[[1,3]])


# print('位置切片',sel[1:3])# 左包含右不包含
# print('索引切片',sel['b':'d'])# 左右都包含

sel.index = list('dcba')
print(sel)


print(sel.reindex(['b','a','c','d','e']))

a    1
b    2
c    3
d    s
dtype: object
d    1
c    2
b    3
a    s
dtype: object
b      3
a      s
c      2
d      1
e    NaN
dtype: object

In [24]:
se1=pd.Series(range(10,15))
print(se1)
print(se1.drop([2,3]))

0    10
1    11
2    12
3    13
4    14
dtype: int64
0    10
1    11
4    14
dtype: int64

In [29]:
series1 = pd.Series([1,2,3,4],['London','HongKong','Humbai','lagos'])
series2 = pd.Series([1,3,6,4],['London','Accra','lagos','Delhi'])
# series1 = pd.Series([1,2,3,4])
# series2 = pd.Series([1,3,6,4])

# print(series1-series2)
# print(series1+series2)
# print(series1*series2)

Accra        NaN
Delhi        NaN
HongKong     NaN
Humbai       NaN
London       1.0
lagos       24.0
dtype: float64

In [38]:
sel =  Series(data = [1,6,3,5], index = list('abcd'))
# print(sel[sel>3]) # 布尔数组过滤

# print(sel*2) # 标量乘法
print(np.square(sel)) # 可以直接加入到numpy的数学函数

a     1
b    36
c     9
d    25
dtype: int64

In [47]:
# 使用二维数组
# df1 = DataFrame(np.random.randint(0,10,(4,4)),index=[1,2,3,4],columns=['a','b','c','d'])
df1 = DataFrame([[3,4],[8,9]],index=[1,4],columns=['a','d'])

print(df1)

   a  d
1  3  4
4  8  9

In [48]:
dict={
    'Province': ['Guangdong', 'Beijing', 'Qinghai', 'Fujian'],
    'pop': [1.3, 2.5, 1.1, 0.7],
    'year': [2018, 2018, 2018, 2018]}
df2=pd.DataFrame(dict,index=[1,2,3,4])
print(df2)

    Province  pop  year
1  Guangdong  1.3  2018
2    Beijing  2.5  2018
3    Qinghai  1.1  2018
4     Fujian  0.7  2018

In [54]:
# 使用from_dict
dict2={"a":[1,2,3],"b":[4,5,6]}
df6=pd.DataFrame.from_dict(dict2)
print(df6)

   a  b
0  1  4
1  2  5
2  3  6

In [57]:
#索引相同的情况下，相同索引的值会相对应，缺少的值会添加NaN
data = {
    'Name':pd.Series(['zs','ls','we'],index=['a','b','c']),
    'Age':pd.Series(['10','20','30','40'],index=['a','b','c','d']),
    'country':pd.Series(['中国','日本','韩国'],index=['a','c','b'])
}

df = pd.DataFrame(data)
print(df)
print(df.to_dict())

  Name Age country
a   zs  10      中国
b   ls  20      韩国
c   we  30      日本
d  NaN  40     NaN
{'Name': {'a': 'zs', 'b': 'ls', 'c': 'we', 'd': nan}, 'Age': {'a': '10', 'b': '20', 'c': '30', 'd': '40'}, 'country': {'a': '中国', 'b': '韩国', 'c': '日本', 'd': nan}}

In [51]:
# pd.Series(['zs','ls','we'],index=['a','b','c'])

a    zs
b    ls
c    we
dtype: object

In [107]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# dataframe常用属性
df_dict = {
	'name':['James','Curry','Iversion'],
	'age':['18','20','19'],
	'national':['us','China','us']
}
df = pd.DataFrame(data=df_dict,index=['0','1','2'])
print(df)

# 获取行数和列数
# print(df.shape)

# # # 获取行索引
# print(df.index.tolist())
# print(df.index)

# # # 获取列索引
# print(df.columns)
# print(df.columns.tolist())

# # 获取数据的类型
# print(df.dtypes)

# # 获取数据的维度
# print(df.ndim)

# # values属性也会以二维ndarray的形式返回DataFrame的数据
# print(df.values)

# # 展示df的概览
# print(df.info())

# # 显示头几行,默认显示5行
# print(df.head(2))

# # 显示后几行
# print(df.tail(1))


print('*'*20)
# 获取DataFrame的列
# print(df['name'])
# print(df['age'])
#因为我们只获取一列，所以返回的就是一个 Series
# print(type(df['name']))

# # 如果获取多个列，那返回的就是一个 DataFrame 类型：
# print(df[['name','age']])
# print(type(df[['name','age']]))

# # 获取一行
# print(df[0:1])

# # 去多行
# print(df[1:2])

# # 取多行里面的某一列（不能进行多行多列的选择）
# print(df[1:3][['name','age']])
# # 注意： df[]只能进行行选择，或列选择，不能同时多行多列选择。

# '''
# df.loc 通过标签索引行数据
# df.iloc 通过位置获取行数据
# '''
# # 获取某一行某一列的数据
# print(df.loc)x
# print(df.loc['0','name'])

# 一行所有列
# print(df.loc['0',:])

# # 某一行多列的数据
# print(df.loc['0',['name','age']])
# print(type(df.loc['0',['name','age']]))

# # 选择间隔的多行多列
# print(df.loc[['0','2'],['name','national']])
# print(type(df.loc[['0','2'],['name','national']]))
# # 选择连续的多行和间隔的多列
# print(df.loc['0':'2',['name','national']])

# # 取一行
# print(df.iloc[1])

# # 取连续多行
# print(df.iloc[0:2])

# # 取间断的多行
# print(df.iloc[[0,2],:])

# # 取某一列
# print(df.iloc[:,1])

# # 某一个值
# print(df.iloc[1,0])

# 修改值
# df.iloc[0,0]='panda'
# print(df)
# dataframe中的排序方法
df = df.sort_values(by='age',ascending=False)
# ascending=False  ： 降序排列，默认是升序
print(df)

       name age national
0     James  18       us
1     Curry  20    China
2  Iversion  19       us
********************
       name age national
1     Curry  20    China
2  Iversion  19       us
0     James  18       us

In [114]:
### 3.3 dataframe修改index、columns

df1 = pd.DataFrame(np.arange(9).reshape(3, 3), index = ['bj', 'sh', 'gz'], columns=['a', 'b', 'c'])
print(df1)
# 修改 df1 的 index
print(df1.index) # 可以打印出print的值，同时也可以为其赋值
df1.index = ['beijing', 'shanghai', 'guangzhou']
print(df1)

# # 自定义map函数（x是原有的行列值）
# def test_map(x):    
#     return x+'_ABC'
# # inplace：布尔值，默认为False。指定是否返回新的DataFrame。如果为True，则在原df上修改，返回值为None。
# print(df1.rename(index=test_map, columns=test_map, inplace=False))

# 同时，rename 还可以传入字典，为某个 index 单独修改名称
# df3 = df1.rename(index={'bj':'beijing'}, columns = {'a':'aa'}) 
# print(df3)

    a  b  c
bj  0  1  2
sh  3  4  5
gz  6  7  8
Index(['bj', 'sh', 'gz'], dtype='object')
           a  b  c
beijing    0  1  2
shanghai   3  4  5
guangzhou  6  7  8
           aa  b  c
beijing     0  1  2
shanghai    3  4  5
guangzhou   6  7  8

In [137]:

# # 列转化为索引
df1=pd.DataFrame({'X':range(5),'Y':range(5),'S':list("abcde"),'Z':[1,1,2,2,2]})
print(df1)
# # 指定一列为索引 (drop=False 指定同时保留作为索引的列)
result = df1.set_index('S',drop=False)
# result = df1.set_index('S',drop=True)
print(result.index)
result.index.name=None
print(result)

   X  Y  S  Z
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2
Index(['a', 'b', 'c', 'd', 'e'], dtype='object', name='S')
   X  Y  S  Z
a  0  0  a  1
b  1  1  b  1
c  2  2  c  2
d  3  3  d  2
e  4  4  e  2

In [139]:
df1=pd.DataFrame({'X':range(5),'Y':range(5),'S':list("abcde"),'Z':[1,1,2,2,2]})
print(df1)
print('*'*20)
# 行转为列索引
result = df1.set_axis(df1.iloc[0],axis=1,inplace=False)
result.columns.name=None
print(result)

   X  Y  S  Z
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2
********************
   0  0  a  1
0  0  0  a  1
1  1  1  b  1
2  2  2  c  2
3  3  3  d  2
4  4  4  e  2

In [156]:
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])
print(df1)
# 在数据框最后加上score一列
# df1['score']=[80,98,67,90]   # 增加列的元素个数要跟原数据列的个数一样
# print(df1)

print('*'*20)

# col_name=df1.columns.tolist()                   # 将数据框的列名全部提取出来存放在列表里
# # print(type(col_name), col_name)

# col_name.insert(2,'city')                      # 在列索引为2的位置插入一列,列名为:city，刚插入时不会有值，整列都是NaN
# df1=df1.reindex(columns=col_name)              # DataFrame.reindex() 对原行/列索引重新构建索引值
# print(df1)
# df1['city']=['北京','山西','湖北','澳门']   # 给city列赋值
# print(df1)


'''
df.insert(iloc,column,value)
iloc:要插入的位置
colunm:列名
value:值
'''





# df1.insert(2,'score',[80,98,67,90])
# print(df1)

# # 插入一行
row=['111','222','333']
df1.iloc[1]=row
print(df1)

     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
********************
    name gender  age
0   Snow      M   22
1    111    222  333
2  Sansa      F   18
3   Arya      F   14

In [167]:
# 增加数据
df1 = pd.DataFrame([['Snow','M',22],['Tyrion','M',32],['Sansa','F',18],['Arya','F',14]],
                   columns=['name','gender','age'])

print(df1)

print('*'*20)

# 先创建一个DataFrame，用来增加进数据框的最后一行
new=pd.DataFrame({'name':'lisa',
                  'gender':'F',
                  'age':19
                  },index=[0])
print(new)
print("-------在原数据框df1最后一行新增一行，用append方法------------")
df1 = df1.append(new,ignore_index=True)   # ignore_index=False,表示不按原来的索引，从0开始自动递增
print(df1)

     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
********************
   name gender  age
0  lisa      F   19
-------在原数据框df1最后一行新增一行，用append方法------------
     name gender  age
0    Snow      M   22
1  Tyrion      M   32
2   Sansa      F   18
3    Arya      F   14
4    lisa      F   19

In [174]:
# 合并
'''
objs:合并对象
axis:合并方式，默认0表示按列合并，1表示按行合并
ignore_index:是否忽略索引 
'''
df1 = pd.DataFrame(np.arange(6).reshape(3,2),columns=['four','five'])
df2 = pd.DataFrame(np.arange(6).reshape(2,3),columns=['one','two','three'])
print(df1)
print('*'*20)
print(df2)

print('*'*20)
# # 按行合并
# result = pd.concat([df1,df2],axis=1)
# print(result)

# # # 按列合并
# result = pd.concat([df1,df2],axis=0,ignore_index=True)
# print(result)
# print('*'*20)
# result = df1.append(df2,ignore_index=True)
# print(result)
 

print(df1)
print(df2)

   four  five
0     0     1
1     2     3
2     4     5
********************
   one  two  three
0    0    1      2
1    3    4      5
********************
   four  five
0     0     1
1     2     3
2     4     5
   one  two  three
0    0    1      2
1    3    4      5

In [182]:
# DataFrame的删除
'''
lables：要删除数据的标签
axis：0表示删除行，1表示删除列，默认0
inplace:是否在当前df中执行此操作
'''
df2 = pd.DataFrame(np.arange(9).reshape(3,3),columns=['one','two','three'])
print(df2)
df3=df2.drop(['one'],axis=1, inplace=True)

df3=df2.drop([0,1],axis=0, inplace=False)
print(df2)
print(df3)

   one  two  three
0    0    1      2
1    3    4      5
2    6    7      8
   two  three
0    1      2
1    4      5
2    7      8
   two  three
2    7      8

In [187]:
## 4. 数据处理
 
from numpy import nan as NaN
# 通过**dropna()**滤除缺失数据：
se=pd.Series([4,NaN,8,NaN,5])
print(se)

# print(se.dropna())
# print(se.notnull())
# print(se.isnull())

# # 通过布尔序列也能滤除：
print(se[se.notnull()])

0    4.0
1    NaN
2    8.0
3    NaN
4    5.0
dtype: float64
0    4.0
2    8.0
4    5.0
dtype: float64

In [195]:
# 2.2 处理DataFrame对象
df1=pd.DataFrame([[1,NaN,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,NaN,NaN]])
print(df1)

# 默认滤除所有包含NaN：
# print(df1.dropna())

# 传入how=‘all’滤除全为NaN的行：
# print(df1.dropna(how='all')) # 默认情况下是how='any'，只要有nan就删除

# 传入axis=1滤除列：
# print(df1.dropna(axis=0,how="all"))

#传入thresh=n保留至少有n个非NaN数据的行：
print(df1.dropna(thresh=2))

     0   1    2
0  1.0 NaN  3.0
1  NaN NaN  2.0
2  NaN NaN  NaN
3  8.0 NaN  NaN
     0   1    2
0  1.0 NaN  3.0

In [201]:
# 2.3 填充缺失数据
df1=pd.DataFrame([[1,2,3],[NaN,NaN,2],[NaN,NaN,NaN],[8,8,NaN]])
print(df1)

# 用常数填充fillna
# print(df1.fillna(0))

#传入inplace=True直接修改原对象：
# df1.fillna(0,inplace=True)
# print(df1)

# 通过字典填充不同的常数
# print(df1.fillna({0:10,1:20,2:30})) 

# 填充平均值
# print(df1.fillna(df1.mean()))
# # 如果只填充一列
print(df1.iloc[:,1].fillna(5,inplace = True))
print(df1)

     0    1    2
0  1.0  2.0  3.0
1  NaN  NaN  2.0
2  NaN  NaN  NaN
3  8.0  8.0  NaN
None
     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  2.0
2  NaN  5.0  NaN
3  8.0  8.0  NaN

In [207]:

# 传入method=” “改变插值方式：
df2=pd.DataFrame(np.random.randint(0,10,(5,5)))
print(df2)
print('*'*20)
df2.iloc[1:4,3]=NaN
df2.iloc[2:4,4]=NaN
print(df2)
print('*'*20)

#用前面的值来填充ffill   用后面的值来填充bfill
# print(df2.fillna(method='ffill'))


# 传入limit=” “限制填充行数：
# print(df2.fillna(method='bfill',limit=1))

# 传入axis=” “修改填充方向：
print(df2.fillna(method="ffill",limit=1,axis=1))

   0  1  2  3  4
0  6  4  3  7  2
1  4  1  6  0  7
2  4  9  3  5  8
3  7  4  0  3  6
4  1  5  7  0  3
********************
   0  1  2    3    4
0  6  4  3  7.0  2.0
1  4  1  6  NaN  7.0
2  4  9  3  NaN  NaN
3  7  4  0  NaN  NaN
4  1  5  7  0.0  3.0
********************
     0    1    2    3    4
0  6.0  4.0  3.0  7.0  2.0
1  4.0  1.0  6.0  6.0  7.0
2  4.0  9.0  3.0  3.0  NaN
3  7.0  4.0  0.0  0.0  NaN
4  1.0  5.0  7.0  0.0  3.0

In [216]:
# 2.4 移除重复数据
'''
DataFrame中经常会出现重复行，利用duplicated()函数返回每一行判断是否重复的结果（重复则为True)
'''
df1=pd.DataFrame({'A':[1,1,1,2,2,3,1],'B':list("aabbbca")})
print(df1)

# 判断每一行是否重复(结果是bool值，TRUE代表重复的)
# print(df1.duplicated())

# 去除全部的重复行
# print(df1.drop_duplicates())

# # 指定列去除重复行
# print(df1.drop_duplicates(['A']))

# 保留重复行中的最后一行
# print(df1.drop_duplicates(['A'],keep='last'))

# 去除重复的同时改变DataFrame对象
c = df1.drop_duplicates(['A','B'],inplace=True)
print(df1)
print(c)

   A  B
0  1  a
1  1  a
2  1  b
3  2  b
4  2  b
5  3  c
6  1  a
   A  B
0  1  a
2  1  b
3  2  b
5  3  c
None

In [221]:
## 5. 数据合并



# 使用join合并，着重关注的是行的合并
import pandas as pd
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abc'))
df4=pd.DataFrame({'Blue':[1,9,8],'Yellow':[6,6,7]},index=list('cde'))
print(df3)
print(df4)

# 简单合并（默认是left左连接,以左侧df3为基础）
# df3.join(df4,how='left')

# 右链接
# df3.join(df4,how='right')

# 外链接
# df3.join(df4,how='outer')

# 合并多个DataFrame对象
df5=pd.DataFrame({'Brown':[3,4,5],'White':[1,1,2]},index=list('aed'))
df3.join([df4,df5])

   Red  Green
a    1      5
b    3      0
c    5      3
   Blue  Yellow
c     1       6
d     9       6
e     8       7

   Red  Green  Blue  Yellow  Brown  White
a  1.0    5.0   NaN     NaN    3.0    1.0
b  3.0    0.0   NaN     NaN    NaN    NaN
c  5.0    3.0   1.0     6.0    NaN    NaN

In [242]:
# 使用merge，着重关注的是列的合并
df1=pd.DataFrame({'名字':list('ABCDE'),'性别':['男','女','男','男','女'],'职称':['副教授','讲师','助教','教授','助教']},index=range(1001,1006))
# df1.columns.name='学院老师'
# df1.index.name='编号'
print(df1)
print('*'*20)
df2=pd.DataFrame({'名字':list('ABDAX'),'课程':['C++','计算机导论','汇编','数据结构','马克思原理'],'职称':['副教授','讲师','教授','副教授','讲师']},index=[1001,1002,1004,1001,3001])
# df2.columns.name='课程'
# df2.index.name='编号'
print(df2)

print('*'*20)

# 默认下是根据左右对象中出现同名的列作为连接的键，且连接方式是how=’inner’
# print(pd.merge(df1,df2))# 返回匹配的

# 指定列名合并
# pd.merge(df1,df2,on='名字',suffixes=['_1','_2'])# 返回匹配的

# # 连接方式，根据左侧为准
# pd.merge(df1,df2,how='left')


# # 根据左侧为准
# pd.merge(df1,df2,how='right')

# # 所有
# pd.merge(df1,df2,how='outer')

# # 根据多个键进行连接
pd.merge(df1,df2,on=['职称','名字'])

     名字 性别   职称
1001  A  男  副教授
1002  B  女   讲师
1003  C  男   助教
1004  D  男   教授
1005  E  女   助教
********************
     名字     课程   职称
1001  A    C++  副教授
1002  B  计算机导论   讲师
1004  D     汇编   教授
1001  A   数据结构  副教授
3001  X  马克思原理   讲师
********************
  名字 性别   职称     课程
0  A  男  副教授    C++
1  A  男  副教授   数据结构
2  B  女   讲师  计算机导论
3  D  男   教授     汇编

  名字 性别   职称     课程
0  A  男  副教授    C++
1  A  男  副教授   数据结构
2  B  女   讲师  计算机导论
3  D  男   教授     汇编

In [255]:
 
# 轴向连接-Concat
# 1. Series对象的连接
s1=pd.Series([1,2],index=list('ab'))
s2=pd.Series([3,4,5],index=list('bde'))
print(s1)
print(s2)
# pd.concat([s1,s2])

#横向连接
# pd.concat([s1,s2],axis=1)

# 用内连接求交集(连接方式，共有’inner’,’left’,right’,’outer’)
# pd.concat([s1,s2],axis=1,join='inner')



# 创建层次化索引
# pd.concat([s1,s2],keys=['A','B'])

#当纵向连接时keys为列名
# pd.concat([s1,s2],keys=['A','D'],axis=1)

a    1
b    2
dtype: int64
b    3
d    4
e    5
dtype: int64

TypeError: concat() got an unexpected keyword argument 'axes'

In [260]:
# 2. DataFrame对象的连接
df3=pd.DataFrame({'Red':[1,3,5],'Green':[5,0,3]},index=list('abd'))
df4=pd.DataFrame({'Blue':[1,9],'Yellow':[6,6]},index=list('ce'))
print(df3)
print(df4)
# pd.concat([df3,df4])
# pd.concat([df3,df4],axis=1,keys=['A','B'])

# 用字典的方式连接同样可以创建层次化列索引
pd.concat({'A':df3,'B':df4},axis=1)

   Red  Green
a    1      5
b    3      0
d    5      3
   Blue  Yellow
c     1       6
e     9       6

     A          B
   Red Green Blue Yellow
a  1.0   5.0  NaN    NaN
b  3.0   0.0  NaN    NaN
d  5.0   3.0  NaN    NaN
c  NaN   NaN  1.0    6.0
e  NaN   NaN  9.0    6.0

In [264]:
## 6. 多层索引（拓展）


import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Series也可以创建多层索引
# s = Series(np.random.randint(0,150,size=6),index=list('abcdef'))
# print(s)
# s = Series(np.random.randint(0,150,size=6),
#            index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
# print(s)

# DataFrame创建多层索引
df1 = DataFrame(np.random.randint(0,150,size=(6,4)),
               columns = ['zs','ls','ww','zl'],
               index = [['python','python','math','math','En','En'],['期中','期末','期中','期末','期中','期末']])
print(df1)

            zs   ls   ww   zl
python 期中   34   12  107  122
       期末   13  142   99   17
math   期中   63   39   80   99
       期末  100   46   82  114
En     期中   57   51   19  120
       期末   73  101  140    6

In [268]:
# 2. 特定结构
class1=['python','python','math','math','En','En']
class2=['期中','期末','期中','期末','期中','期末']
m_index2=pd.MultiIndex.from_arrays([class1,class2])
print(m_index2)
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

class1=['期中','期中','期中','期末','期末','期末']
class2=['python','math','En','python','math','En']
m_index2=pd.MultiIndex.from_arrays([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

MultiIndex([('python', '期中'),
            ('python', '期末'),
            (  'math', '期中'),
            (  'math', '期末'),
            (    'En', '期中'),
            (    'En', '期末')],
           )
             0    1    2    3
python 期中   47   20   53  140
       期末  122   18  133   10
math   期中   77    3   54  112
       期末   86  148   64  113
En     期中   13  131   82   47
       期末   83   99   78  122
             0    1    2    3
期中 python   91   69  127    5
   math     83  110  143   98
   En       66  145  133   77
期末 python   53  136   10    2
   math    127   90  119  133
   En      108   23  119    1

In [270]:
# 3. product构造
class1=['python','math','En']
class2=['期中','期末']
m_index2=pd.MultiIndex.from_product([class1,class2])
print(m_index2)
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

MultiIndex([('python', '期中'),
            ('python', '期末'),
            (  'math', '期中'),
            (  'math', '期末'),
            (    'En', '期中'),
            (    'En', '期末')],
           )
             0    1    2    3
python 期中   11   61   87   54
       期末  110   25  117  136
math   期中   93  115   85   58
       期末    6   39   14  136
En     期中   30  118    3   95
       期末  141  107   62  113

In [281]:
#多层索引对象的索引操作
# series
# s = Series(np.random.randint(0,150,size=6),
#            index=[['a','a','b','b','c','c'],['期中','期末','期中','期末','期中','期末']])
# print(s)
# 取一个第一级索引
# print(s['a'])

# 取多个第一级索引
# print(s[['a','b']])

# 根据索引获取值
# print(s['a','期末'])

# loc方法取值
# print(s.loc['a'])
# print(s.loc[['a','b']])
# print(s.loc['a','期末'])

# iloc方法取值(iloc计算的事最内层索引)
# print(s.iloc[1])

# print(s.iloc[1:4])

a  期中    39
   期末    22
b  期中    95
   期末    15
c  期中    25
   期末    76
dtype: int32
22
a  期末    22
b  期中    95
   期末    15
dtype: int32

In [292]:

# dataframe
class1=['python','math','En']
class2=['期中','期末']
m_index2=pd.MultiIndex.from_product([class1,class2])
df2=DataFrame(np.random.randint(0,150,(6,4)),index=m_index2)
print(df2)

# 获取列
# print(df2[0])

# 一级索引
# print(df2.loc['python'])

# 多个一级索引
# print(df2.loc[['python','math']])

# 取一行
# print(df2.loc['python','期末'])

# 取一值
# print(df2.loc['python','期末'][0])

# iloc是只取最内层的索引的
print(df2.iloc[0])

             0    1    2    3
python 期中  100   82   58   51
       期末   93  135   93   92
math   期中   51  119   52  127
       期末   83   16   88  104
En     期中  140   99  134   30
       期末   16   77   98   38
0    100
1     82
2     58
3     51
Name: (python, 期中), dtype: int32

In [335]:
import pandas as pd
import numpy as np

# 1. 生成一段时间范围
'''
该函数主要用于生成一个固定频率的时间索引，在调用构造方法时，必须指定start、end、periods中的两个参数值，否则报错。

时间序列频率：
    D        日历日的每天
    B        工作日的每天
    H        每小时
    T或min   每分钟
    S        每秒
    L或ms    每毫秒
    U        每微秒
    M        日历日的月底日期
    BM        工作日的月底日期
    MS       日历日的月初日期
    BMS      工作日的月初日期
'''
# date = pd.date_range(start='20190501',end='20190530')
# print(date)

# date = pd.date_range(start='20190501',periods=10,freq='10D')
# print(date)

# data_time =pd.date_range(start='2019-01-09',end='2019-01-14',closed='left')
# print(data_time)


# index = pd.date_range(start='20190101',periods=10)
# df = pd.Series(np.random.randint(0,10,size = 10),index=index)
# print(df)

# after = df.truncate(after='2019-01-8')
# print(after)


# print(pd.date_range('1/1/2019',periods=1000))

# long_ts = pd.Series(np.random.randn(1000),index=pd.date_range('8/1/2019',periods=1000))
# print(long_ts)
# 根据年份获取
# result = long_ts['2019']
# print(result)


# result = long_ts['2020-05']
# print(result)

# result = long_ts['2020-05-01':'2020-05-06']
# print(result)

# 通过between_time()返回位于指定时间段的数据集
# index=pd.date_range("2018-03-17","2018-03-30",freq="2H")
# ts = pd.Series(np.random.randn(157),index=index)
# print(ts.between_time("7:00","17:00"))

# index=pd.date_range('1/1/2019',periods=100)
# df = pd.DataFrame(np.random.randn(100,4),index=index)
# # print(df)
# print(df.loc['2019-04'])

ts = pd.Series(np.random.randn(10),index=pd.date_range('1/1/2019',periods=10))
print(ts) 
# print(ts.shift(periods=2,fill_value=100,freq='D'))
# print(ts)



# 将时间戳转化成时间根式
pd.to_datetime(1554970740000,unit='ms')

2019-01-01    0.743839
2019-01-02   -0.743186
2019-01-03    1.832228
2019-01-04    0.514136
2019-01-05   -0.761845
2019-01-06   -0.494280
2019-01-07   -0.451003
2019-01-08   -1.919558
2019-01-09   -1.350625
2019-01-10    1.921558
Freq: D, dtype: float64

Timestamp('2019-04-11 08:19:00')

In [347]:
# print(pd.to_datetime(1554970740000,unit='ms').tz_localize('UTC'))
# print(pd.to_datetime(1554970740000,unit='ms').tz_localize('UTC').tz_convert('Asia/Shanghai'))


df = pd.DataFrame([1554970740000, 1554970800000, 1554970860000],columns = ['time_stamp'])
print(df)
# print(df['time_stamp'])
pd.to_datetime(df['time_stamp'],unit='ms').dt.tz_localize('UTC').dt.tz_convert('Asia/Shanghai')#先赋予标准时区,再转换到东八区

      time_stamp
0  1554970740000
1  1554970800000
2  1554970860000

0   2019-04-11 16:19:00+08:00
1   2019-04-11 16:20:00+08:00
2   2019-04-11 16:21:00+08:00
Name: time_stamp, dtype: datetime64[ns, Asia/Shanghai]

In [348]:
# 处理中文
pd.to_datetime('2019年10月10日',format='%Y年%m月%d日')

Timestamp('2019-10-10 00:00:00')

In [382]:
import pandas as pd
import numpy as np
# df=pd.DataFrame({
#     'name':['BOSS','Lilei','Lilei','Han','BOSS','BOSS','Han','BOSS'],
#     'Year':[2016,2016,2016,2016,2017,2017,2017,2017],
#     'Salary':[999999,20000,25000,3000,9999999,999999,3500,999999],
#     'Bonus':[100000,20000,20000,5000,200000,300000,3000,400000]
#     })

# print(df)
# print('*'*20)

# 根据name这一列进行分组
# group_by_name=df.groupby('name')
# print(type(group_by_name))
# 查看分组
# print(group_by_name.groups)
# 分组后的数量
# print(group_by_name.count())


# for name,group in group_by_name:
#     print(name)# 组的名字
#     print(group)# 组具体内容



# 可以选择分组
# print(group_by_name.get_group('BOSS'))
    
# 按照某一列进行分组, 将name这一列作为分组的键，对year进行分组

# print(df['name'])
# print(df['Year'])
# group_by_name=df['Year'].groupby(df['name'])
# print(group_by_name.count())


# 按照多列进行分组
# group_by_name_year=df.groupby(['name','Year'])

# for name,group in group_by_name_year:
#     print(name)# 组的名字
#     print(group)# 组具体内容

# # 可以选择分组
# print(group_by_name_year.get_group(('BOSS',2016)))






# 将某列数据按数据值分成不同范围段进行分组（groupby）运算
df = pd.DataFrame({'Age': np.random.randint(20, 70, 100), 
                    'Sex': np.random.choice(['M', 'F'], 100), 
                    })
age_groups = pd.cut(df['Age'], bins=[19,40,65,100])
# print(type(age_groups))
# print(type(age_groups[0]))
# print(df.groupby(age_groups).count())

# # 按‘Age’分组范围和性别（sex）进行制作交叉表
pd.crosstab(age_groups, df['Sex'])

Sex         F   M
Age
(19, 40]   21  24
(40, 65]   23  21
(65, 100]   9   2

In [402]:
df1=pd.DataFrame({'Data1':np.random.randint(0,10,5),
                  'Data2':np.random.randint(10,20,5),
                  'key1':list('aabba'),
                  'key2':list('xyyxy')})
print(df1)
# 按key1分组，进行聚合计算
# 注意：当分组后进行数值计算时，不是数值类的列（即麻烦列）会被清除
# print(df1.groupby('key1').sum())
print('*'*20)

# 只算data1
# print(df1['Data1'].groupby(df1['key1']).sum())
# print(df1.groupby('key1')['Data1'].sum())

# 使用agg()函数做聚合运算
# print(df1.groupby('key1').agg('mean'))

# 可以同时做多个聚合运算
# print(df1.groupby('key1').agg(['sum','mean','std']))



def peak_range(df):
    """
        返回数值范围
    """
    return df.max() - df.min()

# print(df1.groupby('key1').agg(peak_range))

# 同时应用多个聚合函数
# print(df1.groupby('key1').agg(['mean', 'std', 'count', peak_range])) # 默认列名为函数名
# print(df1.groupby('key1').agg(['mean', 'std', ('cn','count'), ('range', peak_range)])) # 通过元组提供新的列名

# 给每列作用不同的聚合函数
dict_mapping = {
    'Data1':['mean','max'],
    'Data2':'sum'
}
df1.groupby('key1').agg(dict_mapping)

   Data1  Data2 key1 key2
0      1     10    a    x
1      1     12    a    y
2      3     15    b    y
3      3     14    b    x
4      1     13    a    y
********************

     Data1     Data2
      mean max   sum
key1
a        1   1    35
b        3   3    29

In [431]:
# 拓展apply函数
# apply函数是pandas里面所有函数中自由度最高的函数
df1=pd.DataFrame({'sex':list('FFMFMMF'),'smoker':list('YNYYNYY'),'age':[21,30,17,37,40,18,26],'weight':[120,100,132,140,94,89,123]})
print(df1)
print('*'*20)
def bin_age(age):
    if age >=18:
        return 1
    else:
        return 0

# 抽烟的年龄大于等18的
# print(type(df1['age']))
# print(df1['age'].apply(bin_age))
# df1['age'] = df1['age'].apply(bin_age)
# print(df1)

# 取出抽烟和不抽烟的体重前二
def top(smoker,col,n=5):
#     print(type(smoker))
    return smoker.sort_values(by=col)[-n:]

# print(df1.groupby('smoker'))
print(df1.groupby('smoker').apply(top,col='weight',n=2))
print(df1.groupby('smoker').max())

# print(df1.groupby('smoker').apply)
# df1.sort_values(by='weight')

  sex smoker  age  weight
0   F      Y   21     120
1   F      N   30     100
2   M      Y   17     132
3   F      Y   37     140
4   M      N   40      94
5   M      Y   18      89
6   F      Y   26     123
********************
         sex smoker  age  weight
smoker
N      4   M      N   40      94
       1   F      N   30     100
Y      2   M      Y   17     132
       3   F      Y   37     140
       sex  age  weight
smoker
N        M   40     100
Y        M   37     140

In [453]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

# 读取数据
data = pd.read_csv('./movie_data.csv')
# print('数据的形状：', data.shape)
# print(data.head())
# print(data)

data = data.dropna(how='any')
# print(data)
# print(data.head())

# group_director = data.groupby(by='director_name')['gross'].sum()
# print(group_director)
# print('*'*20)

# result = group_director.sort_values(ascending=False)
# print(type(result))
# print(result)



# 电影产量年份趋势
from matplotlib import pyplot as plt
import random
from matplotlib import font_manager
movie_years = data.groupby('title_year')['movie_title']

print(movie_years)
# print(movie_years.count().index.tolist())
# print(movie_years.count().values)
# x = movie_years.count().index.tolist()
# y = movie_years.count().values
# plt.figure(figsize=(20,8),dpi=80)
# plt.plot(x,y)
# plt.show()

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0F5A4350>