## 字符串

In [25]:
'''这是一段多行字符串。这是它的第一行。
This is the second line.
"What's your name?," I asked.
He said "Bond, James Bond."
'''

'这是一段多行字符串。这是它的第一行。\nThis is the second line.\n"What\'s your name?," I asked.\nHe said "Bond, James Bond."\n'

In [26]:
'非'

'非'

In [5]:
# 格式化
age = 20
name = 'Swaroop'
print('{0} was {1} years old when he wrote this book'.format(name, age))
print('{} was {} years old when he wrote this book'.format(name, age))
print('Why is {} playing with that python?'.format(name))

Swaroop was 20 years old when he wrote this book
Swaroop was 20 years old when he wrote this book
Why is Swaroop playing with that python?

In [11]:
name = 'hello world'

In [3]:
name.title()

'Hello World'

In [4]:
name.upper()

'HELLO WORLD'

In [5]:
'NIHC'.lower()

'nihc'

In [13]:
print("\tpython")

	python

In [15]:
print('\python')

\python

数字

In [16]:
3**2

9

In [17]:
2**3

8

In [19]:
0.1 + 0.2

0.30000000000000004

In [20]:
0.1 * 0.2

0.020000000000000004

In [22]:
print('你好','实','世界啊','什么')

你好 实 世界啊 什么

In [23]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

lstrip
rstrip
strip

In [25]:
str(3) + '你好'

'3你好'

In [27]:
print('你好')
#我很好

你好

In [28]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 列表

In [32]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])
print(bicycles[0].title())

trek
Trek

### 修改、添加和删除元素

In [36]:
a = ['a','c']
a.append('d')
a.insert(1, 'b')
print(a)

['a', 'b', 'c', 'd']

In [38]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()

print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [40]:
a = ['a','b','c']
c = print(a.remove('a'))
print(a)

None
['b', 'c']

### 总结 list

append 添加末尾

pop 移除末尾

insert 指定位置前插入

del 删除指定位置

remove 根据值删除

In [45]:
a = [1,3,8,2]
a.sort()
print(a)
a.sort(reverse = True)
print(a)

[1, 2, 3, 8]
[8, 3, 2, 1]

## 缩进

In [46]:
# 错误语法
a = 'HELOL'
    print(a)

IndentationError: unexpected indent (<ipython-input-46-dc596efdc4d1>, line 2)

In [47]:
a = ['a','c','b']
for sa in a:
    print(sa)

a
c
b

In [48]:
print(sa)

b

In [49]:
range(1,5)

range(1, 5)

In [50]:
list(range(1,5))

[1, 2, 3, 4]

In [51]:
odd_numbers = list(range(1,11,2))
print(odd_numbers)

even_numbers = list(range(2,11,2))
print(even_numbers)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [53]:
s = [c for c in list(range(1,101))]
print(s)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [56]:
a = [1,2,3,4]
print(a[0:4])

[1, 2, 3, 4]

## 字典

In [65]:
user_0 = {
'username': 'efermi',
'first': 'enrico',
'last': 'fermi',
}

print(user_0.items())
for key, value in user_0.items():
    print(key, '----', value)
    
print(user_0.keys())

dict_items([('username', 'efermi'), ('first', 'enrico'), ('last', 'fermi')])
username ---- efermi
first ---- enrico
last ---- fermi
dict_keys(['username', 'first', 'last'])

In [64]:
a = {'d':'dd','dDD':'FDSA'}
a.items()

dict_items([('d', 'dd'), ('dDD', 'FDSA')])

In [69]:
favorite_languages = {
'jen': 'python',
'sarah': 'c',
'edward': 'ruby',
'phil': 'python',
}
print(favorite_languages.values())
print(list(favorite_languages.values()))
print(set(favorite_languages.values()))

dict_values(['python', 'c', 'ruby', 'python'])
['python', 'c', 'ruby', 'python']
{'ruby', 'python', 'c'}

In [71]:
message = input("Tell me something, and I will repeat it back to you: ")

Tell me something, and I will repeat it back to you: 32

In [73]:
int(message) + 3

35

In [77]:
True  == 你好

NameError: name '你好' is not defined

In [ ]:
x = 3
while x <= 5:
    print(x)    
    break

In [81]:

try:
    print(5/0)
except ZeroDivisionError:
    print("You can't divide by zero!")

You can't divide by zero!

In [84]:
print("Give me two numbers, and I'll divide them.")
print("Enter 'q' to quit.")
while True:
    first_number = input("\nFirst number: ")
    if first_number == 'q':
        break
    second_number = input("Second number: ")
    try:
        answer = int(first_number) / int(second_number)
    except ZeroDivisionError:
        print("You can't divide by 0!")
    # else:
    print(answer)

Give me two numbers, and I'll divide them.
Enter 'q' to quit.

First number: 4
Second number: 2
2.0

First number: q

In [20]:
def count_words(filename):
    # """计算一个文件大致包含多少个单词"""
    try:
        with open(filename) as f_obj:
            contents = f_obj.read()
            print('haha')
    except FileNotFoundError:
        pass#print('pass')

count_words('dd')

In [22]:
def get_formatted_name(first, last):
    """Generate a neatly formatted full name."""
    full_name = first + ' ' + last
    return full_name.title()

In [23]:
get_formatted_name('LIU','LIN')

'Liu Lin'

In [1]:
c = eval('3.34')
print(type(c))

<class 'float'>

In [2]:
c = eval('33')
print(type(c))

<class 'int'>

In [3]:
c = eval('3.344325436546546547564765765475476')
print(type(c))

<class 'float'>

In [4]:
c

3.3443254365465465

## 生成器表达式

In [2]:
symbols = '$¢£¥€¤'
(ord(symbol) for symbol in symbols) 
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [6]:
city, year, pop, chg, area = 'Tokyo', 2003, 32450, 0.66, 8014

In [8]:
area

8014

In [10]:
import os
c =  os.path.split('/home/luciano/.ssh/idrsa.pub')
print(c)
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')

('/home/luciano/.ssh', 'idrsa.pub')